form {
  background: lightblue;
  width: 500px;
  height: 100px;
  border-radius: 6px;
  margin: 0 auto;
  padding: 10px;
}

input {
  display: block;
  width: 60%;
  font-size: 20px;
  margin: 5px auto;
}

button {
  margin: 0 auto;
  display: block;
  border: none;
  background: white;
  width: 100px;
  font-size: 15px;
  padding: 5px;
}

.token-container {
  border: 1px solid;
  margin: 20px 0;
  height: 50px;
  overflow-wrap: break-word;
}